<template>
  <VModal v-if="visible" @close="closeModal">
    <template v-slot:header>
      <h4>{{ isEdit ? "Edit Client" : "New Client" }}</h4>
    </template>
    <template v-slot:body>
      <div
        class="grid grid-cols-6 gap-y-4 gap-x-2 container w-full md:max-w-lg mx-auto text-right items-center"
      >
        <label class="font-bold">Name:</label>
        <VInput v-model="client.name" label="Name" class="col-span-5"></VInput>

        <label class="font-bold">Email:</label>
        <VInput
          v-model="client.email"
          label="Email"
          class="col-span-5"
        ></VInput>

        <label class="font-bold">Phone:</label>
        <VInput
          v-model="client.phone"
          label="Phone"
          class="col-span-5"
        ></VInput>

        <label class="font-bold">Providers:</label>
        <VInput
          v-model="newProviderName"
          label="Providers"
          class="col-span-3"
        ></VInput>
        <VButton
          class="col-span-2"
          text="Add Provider"
          @click="addProvider(newProviderName)"
        ></VButton>
        <div></div>
        <VCheckboxList
          :options="providers"
          v-model="client.providers"
          @replaceOption="replaceProvider"
          @removeOption="removeProvider"
          class="col-span-3 max-h-44 overflow-y-auto"
        ></VCheckboxList>
      </div>
    </template>
    <template v-slot:footer>
      <div class="flex justify-between items-center">
        <VButton
          v-if="isEdit"
          text="Delete Client"
          :danger="true"
          @click="removeClient"
        ></VButton>
        <div v-else></div>
        <div class="flex gap-4">
          <VButton text="Cancel" @click="closeModal"></VButton>
          <VButton
            v-if="!isEdit"
            text="Add Client"
            @click="addClient"
          ></VButton>
          <VButton v-else text="Save Client" @click="editClient"></VButton>
        </div>
      </div>
    </template>
  </VModal>
</template>

<script>
import VModal from "./VModal.vue";
import VButton from "./VButton.vue";
import VInput from "./VInput.vue";
import VCheckboxList from "./VCheckboxList.vue";

export default {
  name: "ClientModal",
  components: { VModal, VButton, VInput, VCheckboxList },
  props: {
    visible: { type: Boolean, default: false },
    providers: { type: Array, required: true },
    clientModel: { type: Object, default: null },
  },
  emits: [
    "close",
    "addClient",
    "editClient",
    "removeClient",
    "addProvider",
    "replaceProvider",
    "removeProvider",
  ],
  data: () => ({
    client: {
      name: null,
      email: null,
      phone: null,
      providers: [],
    },
    isEdit: false,
    newProviderName: null,
  }),
  watch: {
    clientModel: {
      deep: true,
      handler: function (newVal, oldVal) {
        if (newVal) {
          if (this.isEdit) {
            this.client.providers = newVal.providers;
          } else {
            this.client = Object.assign({}, this.clientModel);
          }
          this.isEdit = true;
        }
      },
    },
  },
  methods: {
    addClient() {
      this.$emit("addClient", this.client);
      this.closeModal();
    },
    editClient() {
      this.$emit("editClient", this.client);
      this.closeModal();
    },
    removeClient() {
      if (this.isEdit) {
        this.$emit("removeClient", this.client);
        this.closeModal();
      }
    },
    addProvider(name) {
      this.$emit("addProvider", name);
      this.newProviderName = null;
    },
    replaceProvider(provider) {
      this.$emit("replaceProvider", provider);
    },
    removeProvider(provider) {
      this.$emit("removeProvider", provider);
    },
    closeModal() {
      this.$emit("close");
      this.client = {};
      this.isEdit = false;
    },
  },
};
</script>
