<template>
  <ClientModal
    :clientModel="clientModel"
    :providers="providers"
    :visible="isUserModalVisible"
    @close="closeModal"
    @addClient="addClient"
    @editClient="updateClient"
    @removeClient="removeClient"
    @addProvider="addProvider"
    @replaceProvider="updateProvider"
    @removeProvider="removeProvider"
  ></ClientModal>
  <div class="flex flex-col border min-w-fit">
    <div class="flex flex-row justify-between items-center bg-primary p-4">
      <h3>Clients</h3>
      <VButton text="New User" @click="openModal"></VButton>
    </div>
    <table class="border">
      <thead>
        <th class="pl-4 pr-6 py-2">Name</th>
        <th class="px-6 py-2">Email</th>
        <th class="px-6 py-2">Phone</th>
        <th class="px-6 py-2">Providers</th>
        <th></th>
      </thead>
      <tbody>
        <tr v-for="client in clients" :key="client.email">
          <Client
            :client="client"
            :providersDict="providers"
            @edit="editClientWithModal"
          ></Client>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Client from "./Client.vue";
import VButton from "./VButton.vue";
import VModal from "./VModal.vue";
import ClientModal from "./ClientModal.vue";
import { PROVIDERS, CLIENTS } from "../api";

export default {
  name: "ClientsList",
  data: () => ({
    isUserModalVisible: false,
    clientModel: null,
    clients: [],
    providers: [],
  }),
  components: { Client, VButton, VModal, ClientModal },
  created() {
    this.getProviders();
    this.getClients();
  },
  methods: {
    // Clients
    getClients() {
      CLIENTS.get()
        .then((clients) => {
          this.clients = clients;
          if (this.clientModel) {
            this.clientModel.providers = this.clients.find(
              (c) => c._id === this.clientModel._id
            ).providers;
          }
        })
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    addClient(client) {
      CLIENTS.create(client)
        .then(() => this.getClients())
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    updateClient(client) {
      CLIENTS.update(client._id, client)
        .then(() => this.getClients())
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    removeClient(client) {
      CLIENTS.remove(client._id)
        .then(() => this.getClients())
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    // Providers
    getProviders() {
      PROVIDERS.get()
        .then((providers) => (this.providers = providers))
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    addProvider(name) {
      PROVIDERS.create(name)
        .then(() => this.getProviders())
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    updateProvider(provider) {
      PROVIDERS.update(provider.id, provider.name)
        .then(() => this.getProviders())
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    removeProvider(provider) {
      PROVIDERS.remove(provider.id)
        .then(() => {
          this.getProviders();
          this.getClients();
        })
        .catch((e) => alert(e.name + "\n" + e.message));
    },
    // Modal
    openModal() {
      this.isUserModalVisible = true;
    },
    editClientWithModal(client) {
      this.clientModel = client;
      this.openModal();
    },
    closeModal() {
      this.isUserModalVisible = false;
      this.clientModel = null;
    },
  },
};
</script>
