<template>
  <td class="pl-4 pr-6 py-2">
    {{ client.name }}
  </td>
  <td class="px-6 py-2">{{ client.email }}</td>
  <td class="px-6 py-2">{{ client.phone }}</td>
  <td class="px-6 py-2">{{ providersString }}</td>
  <td class="text-center px-6 py-2">
    <a class="text-link underline cursor-pointer" @click="edit">Edit</a>
  </td>
</template>

<script>
export default {
  name: "Client",
  props: {
    client: { type: Object, required: true },
    providersDict: { type: Array, required: true },
  },
  emits: ["edit"],
  computed: {
    providersString() {
      return this.client.providers
        .map((p) => this.providersDict.find((pd) => pd.id === p.id)?.name)
        .sort((a, b) => (a > b) - (a < b))
        .join(", ");
    },
  },
  methods: {
    edit() {
      this.$emit("edit", this.client);
    },
  },
};
</script>
