<template>
  <button
    @click="onClick"
    :class="{
      'bg-danger text-white': danger,
      'gradient text-icons': !danger,
    }"
    class="px-4 py-2 border rounded-lg text-lg outline-none hover:brightness-95"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: "VButton",
  props: {
    text: { type: String, default: "Button" },
    danger: { type: Boolean, default: false },
  },
  emits: ["click"],
  methods: {
    onClick() {
      this.$emit("click");
    },
  },
};
</script>
