<template>
  <div class="flex flex-col gap-2 border-2 rounded-lg px-4 py-2">
    <div
      v-for="option in options"
      class="flex justify-between items-center gap-x-6 gap-y-2"
    >
      <VCheckbox
        :option="option"
        v-model="checkedItems"
        @replaceOption="replaceOption"
        @removeOption="removeOption"
      ></VCheckbox>
    </div>
  </div>
</template>

<script>
import VCheckbox from "./VCheckbox.vue";
export default {
  name: "VCheckboxList",
  props: {
    modelValue: { Type: Array, default: [] },
    options: {
      type: Array,
      required: true,
    },
    isEditable: { type: Boolean, default: true },
  },
  components: { VCheckbox },
  emits: ["update:modelValue", "replaceOption", "removeOption"],
  data: () => ({}),
  computed: {
    checkedItems: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit("update:modelValue", val);
      },
    },
  },
  methods: {
    replaceOption(newOption) {
      this.$emit("replaceOption", newOption);
    },
    removeOption(option) {
      this.$emit("removeOption", option);
    },
  },
};
</script>
