<template>
  <input
    :id="option.id"
    type="checkbox"
    :value="{ id: option.id }"
    v-model="checkedItems"
    class="w-4 h-4 cursor-pointer"
  />
  <label :for="option.id" v-if="!isEdit" class="text-icons cursor-pointer">{{
    option.name
  }}</label>
  <input
    v-else
    type="text"
    v-model="value.name"
    class="w-20 px-1 border-2 rounded outline-none"
  />
  <div v-if="isEditable && !isEdit" class="flex gap-x-6">
    <img
      @click="edit()"
      src="../assets/edit.svg"
      class="w-4 h-4 text-icons cursor-pointer"
    />
    <img
      @click="remove()"
      src="../assets/trash.svg"
      class="w-4 h-4 text-icons cursor-pointer"
    />
  </div>
  <div v-else-if="isEditable && isEdit" class="flex gap-x-6">
    <img
      @click="cancel()"
      src="../assets/xmark.svg"
      class="w-4 h-4 text-icons cursor-pointer"
    />
    <img
      @click="confirm()"
      src="../assets/check.svg"
      class="w-4 h-4 text-icons cursor-pointer"
    />
  </div>
</template>

<script>
export default {
  name: "VCheckboxList",
  props: {
    modelValue: { Type: Array, default: [] },
    option: {
      type: Object,
      required: true,
      readonly: true,
    },
    isEditable: { type: Boolean, default: true },
  },
  emits: ["update:modelValue", "replaceOption", "removeOption"],
  data: () => ({
    isEdit: false,
    value: null,
  }),
  mounted() {
    this.value = Object.assign({}, this.option);
  },
  computed: {
    checkedItems: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit("update:modelValue", val);
      },
    },
  },
  methods: {
    edit() {
      this.isEdit = true;
    },
    remove() {
      this.$emit("removeOption", this.option);
    },
    confirm() {
      this.$emit("replaceOption", this.value);
      this.isEdit = false;
    },
    cancel() {
      this.value = Object.assign({}, this.option);
      this.isEdit = false;
    },
  },
};
</script>
