<template>
  <div class="flex items-center justify-start">
    <input :type="type" v-model="value" class="w-full h-10 border-2 rounded" />
  </div>
</template>

<script>
export default {
  name: "VInput",
  props: {
    modelValue: { Type: String },
    type: { Type: String, default: "text" },
    label: { Type: String, default: null },
  },
  emits: ["update:modelValue"],
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit(`update:modelValue`, val);
      },
    },
  },
};
</script>
