<template>
  <div class="fixed inset-0 flex justify-center items-center bg-black/50">
    <div
      class="bg-white flex flex-col container w-full md:max-w-3xl mx-auto px-2 md:px-4"
    >
      <header class="p-4 border-b-2">
        <slot name="header"> <h4>Default Header</h4> </slot>
      </header>

      <section class="modal-body">
        <slot name="body"> </slot>
      </section>

      <footer class="py-4 border-t-2">
        <slot name="footer">
          <VButton text="Close" @click="close"></VButton>
        </slot>
      </footer>
    </div>
  </div>
</template>

<script>
import VButton from "./VButton.vue";
export default {
  name: "VModal",
  emits: ["close"],
  methods: {
    close() {
      this.$emit("close");
    },
  },
  components: { VButton },
};
</script>

<style>
.modal-body {
  position: relative;
  padding: 20px 10px;
}
</style>
