@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h4 {
      @apply text-xl font-bold text-header;
    }
    h3 {
      @apply text-3xl font-bold text-header;
    }
    th {
      @apply border text-left gradient;
    }
    td {
        @apply border text-left text-default;
    }
  }

@layer components {
    .gradient {
        @apply bg-gradient-to-b from-white to-secondary;
    }
  }